{% extends "@FOSUser/layout.html.twig" %}

{% block title %}AppBundle:Translation:view{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="mainDiv">
        <p>{% trans %}Phrase on russian{% endtrans %}: {{ phrase.translate('ru').phrase }}</p>
    </div>
    <div class="mainDiv">
        <form action="{{ path('app_translation_save', {'id': phrase.id}) }}">
                <div class="phrase">
                {% if phrase.translate('en', false).phrase is not empty%}
                    {{ 'English'|trans }}: {{ phrase.translate('en').phrase }}
                {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'English'|trans }}:  <input type="text" name="en">
                {% else %}
                    {{ 'English'|trans }}: {% trans %}No translation{% endtrans %}
                {% endif %}
                </div>
                <div class="phrase">
                {% if phrase.translate('pt', false).phrase is not empty%}
                    {{ 'Portugal'|trans }}:  {{ phrase.translate('pt').phrase }}
                {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'Portugal'|trans }}:  <input type="text" name="pt">
                {% else %}
                    {{ 'Portugal'|trans }}: {% trans %}No translation{% endtrans %}
                {% endif %}
                </div>
                <div class="phrase">
                {% if phrase.translate('fr', false).phrase is not empty%}
                    {{ 'French'|trans }}:  {{ phrase.translate('fr').phrase }}
                {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'French'|trans }}:  <input type="text" name="fr">
                {% else %}
                    {{ 'French'|trans }}: {% trans %}No translation{% endtrans %}
                {% endif %}
                </div>
                <div class="phrase">
                {% if phrase.translate('es', false).phrase is not empty%}
                    {{ 'Spanish'|trans }}:  {{ phrase.translate('es').phrase }}
                {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'Spanish'|trans }}:  <input type="text" name="es">
                {% else %}
                    {{ 'Spanish'|trans }}: {% trans %}No translation{% endtrans %}
                {% endif %}
                </div>
                <div class="phrase">
                {% if phrase.translate('de', false).phrase is not empty%}
                    {{ 'German'|trans }}: {{ phrase.translate('de').phrase }}
                {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'German'|trans }}:  <input type="text" name="de">
                {% else %}
                    {{ 'German'|trans }}: {% trans %}No translation{% endtrans %}
                {% endif %}
                </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <input type="submit" value="{{ 'Save translations'|trans }}" id="buton">
            {% endif %}
        </form>
    </div>
{% endblock %}
